<div class="container">
    <div class="row">
        <div class="col s4">
            <h3>SOLAR PANEL</h3>
            <p class="center-align">Choose your panel</p>
            <div class="solar-panel">
                <div class="row">

                    <div class="card">
                        <div class="card-content">
                            <p>This solar panel is mid-priced and has an efficiency of 20%.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Panel A</a>
                        </div>
                        <div class="card-action">
                            <a ui-sref="micro">Micro</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col s8">
            <div class="row">
                <div class="col s12">
                    <h3 class="center-align">
                        METEOLOGICAL DATA
                    </h3>
                    <div class="meteo-data">
                        "hello"
                        <div id="gauge" class="200x160px"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="col s12 map-container">
                        <div id="floating-panel">
                            <input onclick="clearMarkers();" type=button value="Hide Markers">
                            <input onclick="showMarkers();" type=button value="Show All Markers">
                            <input onclick="deleteMarkers();" type=button value="Delete Markers">
                        </div>
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <h3 class="center-align">SOLAR PANELS OUTPUT DASHBOARD</h3>
                
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="dashboard">
                <ul>
                    <li>
                        <h4>September</h4>
                        <a class="waves-effect waves-light btn" onclick="monthlyEnergy(09)">Calculate : </a>
                        <span id="m9">0</span> W
                    </li>
                    <li>
                        <h4>October</h4>
                        <a class="waves-effect waves-light btn" onclick="monthlyEnergy(10)">Calculate : </a>
                        <span id="m10">0</span> W
                    </li>
                    <li>
                        <h4>November</h4>
                        <a class="waves-effect waves-light btn" onclick="monthlyEnergy(11)"></i>Calculate : </a>
                        <span id="m11">0</span> W
                    </li>
                    <li>
                        <h4>December</h4>
                        <a class="waves-effect waves-light btn" onclick="monthlyEnergy(12)"></i>Calculate : </a>
                        <span id="m12">0</span> W
                    </li>
                </ul>                   
                </div>
            </div>
        </div>
    </div>