<div class="container" ng-controller="MacroCtrl as ctrl">
    <div class="row">
        <div class="col s4">
            <h3>SOLAR PANEL</h3>
            <p class="center-align">Choose your panel</p>
            <div class="solar-panel">
                <div class="row">

                    <div class="card">
                        <div class="card-content">
                            <p>This solar panel is mid-priced and has an efficiency of 20%.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Panel A</a>
                        </div>
                        <div class="card-action">
                            <a ui-sref="micro">Micro</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col s8">
            <div class="row">
                <div class="col s12">
                    <h3 class="center-align">
                        METEOLOGICAL DATA
                    </h3>
                    <div class="meteo-data"></div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <h3 class="center-align">MAP</h3>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h3 class="center-align">SOLAR PANELS OUTPUT DASHBOARD</h3>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="dashboard"></div>
        </div>
    </div>
</div>